deploymentMode: SingleBinary
auth_enabled: false

loki:
  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  schemaConfig:
    configs:
      - from: 2024-01-01
        store: boltdb-shipper
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

  ruler:
    enable_api: false

monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false


write:
  replicas: 0
read:
  replicas: 0
backend:
  replicas: 0

singleBinary:
  replicas: 1

service:
  type: ClusterIP
  port: 3100
