config:
  clients:
    - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

  snippets:
    pipelineStages:
      - docker: {}

    common:
      - action: replace
        source_labels: [__meta_kubernetes_pod_node_name]
        target_label: node

    extraRelabelConfigs:
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
      - source_labels: [__meta_kubernetes_pod_name]
        target_label: pod
      - source_labels: [__meta_kubernetes_container_name]
        target_label: container

daemonset:
  enabled: true

serviceMonitor:
  enabled: true