replicaCount: 2

image:
  repository: islombay/agriculture-app
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 8090
  targetPort: 8080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 384Mi

probes:
  readinessPath: /readyz
  livenessPath: /healthz
